# Ignore everything except essential files
**

!app.py
!requirements.txt
!templates/
!static/
!piper/
!piper/piper
!piper/lib*
!piper/espeak-ng-data/
!piper_models/  
# Add this line to include piper_models